[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mMARCH.AC"]
	path = mMARCH.AC
	url = https://github.com/weiguonimh/mmarch.ac
[submodule "postGGIR"]
	path = postGGIR
	url = https://github.com/cran/postGGIR
[submodule "rvHPDT"]
	path = rvHPDT
	url = https://github.com/weiguonimh/rvhpdt
